@using TheSecretGarden.Models
@model IEnumerable<Book>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Books Management - The Secret Garden";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.ImgLink)</th>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Author)</th>
                    <th>@Html.DisplayNameFor(model => model.Price)</th>
                    <th>@Html.DisplayNameFor(model => model.BookCategory)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center align-middle">
                            <img src="@Url.Content(@item.ImgLink)" alt="book image" class="admin-books-img"/>
                        </td>
                        <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.Title)</td>
                        <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.Author)</td>
                        <td class="text-center align-middle">$@Html.DisplayFor(modelItem => item.Price)</td>
                        <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.BookCategory)</td>
                        <td class="text-center align-middle">
                            <div style="display: flex;">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
                                <p style="margin: 0 0.7rem;"> | </p>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                                <p style="margin: 0 0.7rem;"> | </p>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger text-white">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<a asp-action="Create" asp-controller="Admin" class="btn btn-success" style="position: sticky; bottom: 1rem; right: 1rem;">Add New</a>