@using TheSecretGarden.Models
@model IEnumerable<Book>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img class="banner-image" src="~/photos/main-banner.png" />
    <div class="books-container">
        @foreach (var item in Model)
        {
            <a class="book-display" asp-area="" asp-controller="Category" asp-action="Details" asp-route-id="@item.Id">
                <img src="@Url.Content(@item.ImgLink)" alt="@item.Title" class="book-img" />
                <p>@item.Title</p>
                <p>@item.Author</p>
                <p>$@item.Price</p>
            </a>
        }
    </div>
</div>